In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data.tsv", sep="\t")

/home/bene/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
data = data[data.titleType == "movie"]

In [5]:
data = data.drop(labels="endYear",axis=1)

In [6]:
data = data[data.startYear != "\\N"]

In [7]:
data.startYear = data.startYear.astype(int)

In [8]:
data = data[data.startYear > 1990]
data = data[data.startYear < 2019]

In [9]:
data = data[data.genres != "\\N"]

In [10]:
data = data.sort_values(by="startYear",ascending=True)

In [ ]:
genre_1, genre_2, genre_3 = [], [], []
for tid, title, year, genres in data.as_matrix():
    genres = genres.split(",")
    if len(genres) > 0:
        genre_1.append(genres[0])
    if len(genres) > 1:
        genre_2.append(genres[1])
    else:
        genre_2.append("None")
    if len(genres) > 2:
        genre_3.append(genres[2])
    else:
        genre_3.append("None")
data.drop(labels="genres",axis=1, inplace=True)
data["Genre_1"] = genre_1
data["Genre_2"] = genre_2
data["Genre_3"] = genre_3

In [11]:
data.reset_index(inplace = True, drop=True)

In [12]:
data.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt3554456,movie,Primer intonatsii,Primer intonatsii,0,1991,50,Documentary
1,tt7320480,movie,Ananda Niketan,Ananda Niketan,0,1991,123,Romance
2,tt7320636,movie,Debar,Debar,0,1991,\N,Romance
3,tt7323590,movie,Jagaran,Jagaran,0,1991,90,Drama
4,tt7323672,movie,Katha Deelam,Katha Deelam,0,1991,105,Romance

In [14]:
data = data.drop(labels=["titleType","originalTitle","isAdult","runtimeMinutes"], axis=1)

In [15]:
data.head()

      tconst       primaryTitle  startYear       genres
0  tt3554456  Primer intonatsii       1991  Documentary
1  tt7320480     Ananda Niketan       1991      Romance
2  tt7320636              Debar       1991      Romance
3  tt7323590            Jagaran       1991        Drama
4  tt7323672       Katha Deelam       1991      Romance

In [16]:
data.to_csv("data_cleaned.csv",index=False)

In [ ]:
data["Plot"] = ["TODO" for _ in range(data.shape[0])]
data["isError"] = [False for _ in range(data.shape[0])]

In [ ]:
data.to_csv("data_crawl_ready.csv", index=False)